/* PHASE 1: Header */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
}

.header {
  background-color: red;
  color: white;
  text-align: center;
}

.header {
  position: relative;
  z-index: 1;
}

.header a {
  display: block;
  padding: 10px 20px;
  border-left: 1px solid #D6D6D6;
}

.header a:hover {
  background-color: black;
}

.header-nav {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.header-logo {
  font-weight: 700;
  float: left;
  border-right: 1px solid #D6D6D6;
}

.header-list {
  float: right;
  border-right: 1px solid #D6D6D6;
}

.header-list > li {
  position: relative;
  float: left;
}

.badge {
  background-color: black;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  padding: 1px 6px;
  font-size: 14px;
}

.notification {
  position: relative;
}

.notification:hover .badge {
  background-color: red;
}

.notification:hover .notification-list {
  display: block;
}

.notification-list {
  position: absolute;
  display: none;
}

.notification-list > li {
  text-align:left;
  white-space: nowrap;
  width: 236px;
  font-size: 14px;
  color: black;
  background-color: white;
  clear: both;
  border-bottom: 1px solid #D6D6D6;
  border-right: 1px solid #D6D6D6;
}

.notification:hover .notification-list > li {
  display: block;
}

.notification-list a:hover {
  background-color: #eee
}
