<h1><%= @track.name %> Track</h1>

<%= render "notes/form", track: @track, note: @note %>

<% @track.attributes.each do |key, value| %>
  <p>
    <%= "#{key}: #{value}" %>
  </p>
<% end %>

<h4>Notes</h4>
<ul>

<% @track.notes.each do |note| %>
  <%= render 'notes/note', note: note, user: note.user %>
<% end %>

</ul>

<p>
  <%= button_to "Edit", edit_track_url(@track), method: "get" %>
</p>

<p>
  <%= button_to "Delete", track_url(@track), method: "delete" %>
</p>

<p>
  <%= link_to "<< Album", album_url(@album) %>
</p>
