/* PHASE 4: Footer */
.footer {
  background-color: #eee;
  color: #aaa;
  text-align: center;
  font-size: 14px;
}

.footer-links {
  margin-left: auto;
  margin-right: auto;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 898px;
  background-color: #fff;
  border: 1px solid #aaa;
}

.footer-copyright {
  padding-left: 20px;
  float:left;
}

.footer-list {
  float: right;
}

.footer-list > li {
  float: left;
  padding-right: 20px;
}
