<h1> Create a new user! </h1>

<form action="<%= users_url %>" method="POST">
  <label>Email
    <input type="text"
           name="user[email]"
           id="user_email"
           value="<%= @user.email %>">
 </label>
  <br>

  <label>Password
      <input type="password"
             name="user[password]"
             id="user_password">
  </label>
  <br>

  <input type="submit" value="Create account">
</form>
