<form>
  <label>Title
    <input type="text" name="post[title]" value="<%= post.escape('title') %>">
  </label>

  <label>Body
    <input type="text" name="post[body]" value="<%= post.escape('body') %>">
  </label>
  <% if ( post.isNew() ) { %>
    <button class="create-button" type="submit">Create!</button>
  <% } else { %>
    <button class="edit-button" type="submit">Edit!</button>
  <% } %>
</form>
